extends layout

block content
  .jumbotron
    h1 RealEstate
    p
      | ...
  .container-fluid
    .row
      .col-md-4.col-sm-6.col-xs-12
        .annoucment
          .annoucment--body
            .annoucment--image
              img(src='/images/property.jpg')
            .annoucment--description
              h4 $1200
      .col-md-4.col-sm-6.col-xs-12
        .annoucment
          .annoucment--body
            .annoucment--image
              img(src='/images/property.jpg')
            .annoucment--description
              h4 $1200
      .col-md-4.col-sm-6.col-xs-12
        .annoucment
          .annoucment--body
            .annoucment--image
              img(src='/images/property.jpg')
            .annoucment--description
              h4 $1200