extends layout

block content
 .container
  h2.page-header Login
  p Please login below
  form(method='post', action='/users/login' autocomplete='on')
   .form-group
    label Username
    input.form-control(name='username', type='text', placeholder='Enter Username' autocomplete='on')
   .form-group
    label Password
    input.form-control(name='password', type='password', placeholder='Enter Password' autocomplete='on')
   input.btn.btn-primary(type='submit', name='submit', value='Login')